$primary-gray: #4d4d4d;
$primary-light-gray: #f5f6fa;
$primary-light-gray-1: #eaeff5;

$primary-dark: #000000;
$primary-light: #ffffff;

$primary-btn: #39c5ca;
$primary-color: #39c5ca;

$primary-warning: #fba172;

$min-width-media: 320px;
$max-width-media: 414px;

$box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
