@import "variables";
@import "antd";
@import-normalize; /* bring in normalize.css styles */

body {
  background-color: $primary-light;
  color: $primary-dark;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 320px;
  max-width: 414px;
  margin: auto;
  height: auto;
  border: solid $primary-color;
  * {
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  *::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .box-shadow {
    box-shadow: $box-shadow;
  }
  a {
    color: $primary-dark;
  }
}
