@import "../../../styles/variables";

.fixed-bottom-container {
  position: fixed;
  width: 100%;
  overflow: hidden;
  left: 50%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
  max-width: $max-width-media;
  min-width: $min-width-media;
  padding: 24px;
  bottom: 0;
  background-color: $primary-light;
  border: solid 0.5px $primary-gray;
  box-shadow: $box-shadow;
}
